.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    background-color: #1d1e22;
}

.load {
    background-color: #04BF9D;
    animation-delay: 2s;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation: speed 3.5s infinite ease-in-out;
}

@keyframes speed {
    0% {
        transform: translate(0%);
        border-radius: 50%;
    }

    10% {
        transform: translate(0%, 150%);
        border-radius: 50%;
    }

    20% {
        transform: translate(-200%, 150%);
        border-radius: 50%;
    }

    30% {
        transform: translate(-200%, -200%);
        border-radius: 50%;
    }

    40% {
        transform: translate(200%, -200%);
        border-radius: 50%;
    }

    50% {
        transform: translate(200%, 200%);
        border-radius: 50%;
    }

    60% {
        transform: translate(0%, 150%);
        border-radius: 50%;
    }

    70% {
        transform: scale(2);
        border-radius: 0%;
        background-color: #03A696;
    }

    80% {
        transform: scale(4);
        background-color: #253659;
    }

    90% {
        transform: scale(2);
        border-radius: 50%;
        background-color: #03A696;
    }

    100% {
        transform: scale(1);
        border-radius: 50%;
        background-color: #04BF9D;
    }

  }